<script>
import { navigate } from "astro:transitions/client";
document.addEventListener(`click`, e => {
  e.preventDefault();
  const target: any = e.target;
  const origin = target.parentNode;

  if (origin.tagName === 'a') {
    navigate(origin.getAttribute('href'));
  }
});
</script>

<div class="p-5 min-w-[100%] md:min-w-[40%] overflow-visible">
  <svg>
    <a href="/other">
      <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
    </a>
  </svg>
</div>    